.vs/
*.suo
*.user
*.sln.docstates

ipch/
*.ipch
*.pch

build/
x64/
Debug/
Release/
out/

*.exe
*.pdb
*.ilk
*.obj
*.idb
*.lib
*.dll
*.exp

CMakeFiles/
CMakeCache.txt
cmake_install.cmake
CTestTestfile.cmake

*.tlog
*.log
*.lastbuildstate

*.recipe

*.vcxproj
*.vcxproj.filters
*.vcxproj.user

*.vsidx
*.db
*.db-shm
*.db-wal

app/library/lib/
app/library/include/